.Header{
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: absolute;
    z-index: 55656;
    left: 0;
    top: 0;
    nav{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .nav_logo{
            width: 100px;
        }
        
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
                color: #fff;
                padding: 0 1.5rem;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 0.83rem;

            }
            .search a{
                font-size: 1.05rem;
                padding: 0 3rem;
            }
            .ham{
                padding: 1.5rem;
                a{
                    width: 37px;
                    height: 37px;
                    border-radius: 50%;
                    background-color: rgba(115,115,115,0.7);    
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .bar{
                    position: relative;
                    width: 52%;
                    height: 1.3px;
                    border-radius: 2px;
                    background-color: #fff;

                    &::before,&::after{
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 100%;
                        background-color: inherit;
                        border-radius: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::before{
                        top: -4.5px;
                    }
                    &::after{
                        top: 4.5px;
                    }
                }

            }
        }
    }
}